
.modal-style {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px #aaa;
}


.pagination .page-item {
    margin: 0 2px !important; /* Usa !important para forzar el estilo */
}

.pagination .page-link {
    padding: 5px 10px !important; /* Ajusta el relleno */
    font-size: 14px !important; /* Reduce el tamaño del texto */
}

